@import 'tailwindcss';

:root {
   scroll-padding-top: 100px;
}

html {
   scroll-behavior: smooth;
   overflow-x: hidden;
}

.glass-card {
   transform-style: preserve-3d;
   transition: transform 0.3s ease-out;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes slideIn {
   0% {
      transform: translateX(50px);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

@keyframes appear {
   from {
      opacity: 0;
      scale: 0.5;
   }
   to {
      opacity: 1;
      scale: 1;
   }
}

.blocks {
   animation: appear linear;
   animation-delay: 4ms;
   animation-timeline: view();
   animation-range: entry 0;
}

.fade-in {
   animation: fadeIn 0.5s ease-in-out;
}

.slide-in {
   animation: slideIn 0.4s ease-out;
}

.perspective {
   perspective: 1000px;
}

.transform-style-3d {
   transform-style: preserve-3d;
}

.backface-hidden {
   backface-visibility: hidden;
}

.rotate-y-180 {
   transform: rotateY(180deg);
}

.parent {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, 1fr);
}

.child {
   width: 9rem;
   height: 9rem;
}

.containerContact {
   margin-left: auto;
   margin-right: auto;
   padding: 1.5rem;
   background: linear-gradient(to right, #9eaffd, #d7e8f2);
   box-shadow:
      0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media (min-width: 640px) {
   .containerContact {
      background-size: cover;
      background-position: center;
      background-image: url('/PortFolio/src/assets/contact-me.png');
   }
}

.customScrollbar {
   overflow-y: auto;
   overflow-x: auto;
}

.customScrollbar::-webkit-scrollbar {
   width: 4px;
   height: 8px;
}

.customScrollbar::-webkit-scrollbar-track {
   background: white;
   border-radius: 9999px;
}

.customScrollbar::-webkit-scrollbar-thumb {
   background: #292524;
   border-radius: 9999px;
}
